POSTGRES_DB=ulinkgame
POSTGRES_USER=ulinkgame
POSTGRES_PASSWORD=ulinkgame_dev_password
POSTGRES_PORT=5432
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=ulinkgame_pgadmin_dev_password
PGADMIN_PORT=8080
REDIS_PORT=6379
REDIS_PASSWORD=ulinkgame_redis_dev_password
